.form_wrapper{
    /*border:1px solid deepskyblue;*/
    padding: 0.5rem;
    width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;
}

.form_header .top{
    /*border:1px solid #ff2f55;*/
    margin: 5px;
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

}
.form_header .bottom{
    /*border:1px solid #ff3844;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}
.form_header .title{
    /*border:1px solid #6bff53;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    font-size: 2rem;


}
.form_header .message{
    /*border:1px solid #71ff50;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    /*font-size: 1rem;*/
    color: grey;
}
.form_header .button input{
    /*border:1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    font-size: 1rem;
    color:deeppink;
    background-color: transparent;
    font-family: inherit;
    border: none;

}

.the_form{
    /*border:1px solid #ff3844;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.the_form .field{
    /*border:1px solid #ff5533;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: stretch;
}
.the_form .field .label{
    /*margin: 5px;*/
    /*padding: 5px;*/
    font-size: 1.1rem;
}
.the_form .field .input{
    /*border:1px solid #ff206b;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: stretch;
}
.the_form .field .errors{
    /*border:1px solid #ff050e;*/
}

.submit{
    /*border:1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
.submit input[type='submit']{
    /*border:1px solid orangered;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    background-color: #81ca3e;
    color: white;
    font-size:1.4rem;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    width: 12rem;
    height: 2.5rem;
}


