.child_activities_container{
    border: 1px solid deeppink;
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.child_single_activity{
    border: 1px solid #ff6198;
    /*margin: 5px;*/
    /*padding: 5px;*/
    background-color: #d0eff7;
    width: calc(50% - 0.5em);
    margin: 0.5em 0;
    border-radius: 3px;

}


