.child_activities_container{
    border: 1px solid #67ff5a;
    /*margin: 5px;*/
    /*padding: 5px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.child_single_activity{
    border: 1px solid #ff6198;
    /*margin: 5px;*/
    /*padding: 5px;*/
    background-color: #d0eff7;
    width: calc(50% - 0.5em);
    margin: 0.5em 0;
    border-radius: 3px;

}
.child_single_activity_top{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
}
.child_single_activity_top_svg{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
}
.child_single_activity_top_title{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    font-size: 0.9em;
    color: #666666;
}
.child_single_activity_bottom{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
}
.child_single_activity_bottom_points{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
    background-color: yellowgreen;
    color:white;
    font-size: 1.5em;
}
.child_single_activity_bottom_tick{
    /*border: 1px solid deepskyblue;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
}