.reward{
    /*border:1px solid deeppink;*/
    /*margin: 5px;*/
    /*padding: 5px;*/
}
.reward .title{
    /*border:1px solid #85cc3e;*/
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 2.2rem;
    color: white;
}
.reward .price{
    /*border:1px solid deeppink;*/
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}
.rewards_form_view_container{
    /*border:1px solid #5bc9cb;*/
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}