.child_achievements div{
    border-radius: 3px;
}
.child_achievements{
    /*border: 2px solid blue;*/
    /*padding: 5px;*/
    /*margin: 5px;*/
    display: flex;
    flex-flow: row wrap;
}
.child_activity_achievement_icons{
    /*border: 1px solid blue;*/
    display: flex;
    flex-flow: row;
    margin: 0.2em 0px;
}

